{% extends "base.html" %}

{% block content %}


<h1>Welcome Admin</h1>
<div class="container">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Product</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td><img src="{{ url_for('static', filename='img/' + product.photo) }}"></td>
                <td><a href="{{ url_for('updateitem', id=product.id) }}">Edit</a></td>
                <td><a href="/deleteitem/{{product.id}}" onclick="return confirm('Are you sure to delete?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}